.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.buttonStyle {
    margin-bottom: 6px;
}

/* @media screen and (max-width: 1000px) {
    .container {
        align-items: center;
    }
} */
