.background-image {
    background-size: cover;
    background-image: url("/src/assets/images/apple-bg-no-color.svg");
    min-height: 100vh;
    background-color: #121212;
}

.test {
    background-color: #1ee200b7;
}
