.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.background-image {
    background-size: cover;
    background-image: url("/src/assets/images/apple-bg.svg");
}

/* @media screen and (max-width: 1050px) {
    .content-wrapper {
        flex-direction: column-reverse;
    }
} */
