.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-menu-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;

    background-size: cover;
    background-image: url("/src/assets/images/apple-bg.svg");
    min-height: 100vh;

    padding: 0;
}

@media screen and (max-width: 1050px) {
    .content-wrapper {
        flex-direction: column-reverse;
    }
}
