.select-text-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 12px;
}

.item-wrapper-left {
    flex-grow: 1;
    flex-shrink: 1;
    width: 50%;
    padding: 0 6px 0 6px;
}

.item-wrapper-right {
    flex-grow: 1;
    flex-shrink: 1;
    width: 50%;
    padding: 0 6px 0 6px;
}
